body {

    background:
        linear-gradient(rgba(241, 243, 246, 0.617), rgba(241, 243, 246, 0.134)),
        url("https://images.unsplash.com/photo-1557683316-973673baf926");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.gradient-bg {
    background: #ffffff30;
}

footer a:hover {
    text-decoration: underline;
}

/* ===== Edit Product Form ===== */

.form-wrapper {
    max-width: 650px;
    margin: 60px auto;
}

.form-header {
    background: linear-gradient(135deg, #0d6efd, #6610f2);
    padding: 22px 26px;
    border-radius: 16px 16px 0 0;
    color: #fff;
}

.form-header h3 {
    margin: 0;
    font-weight: 600;
}

.form-header p {
    font-size: 14px;
    opacity: 0.9;
    margin-top: 4px;
}

.form-card {
    background: #fff;
    padding: 30px;
    border-radius: 16px 16px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}

.form-label {
    font-weight: 500;
    font-size: 14px;
}

.form-control {
    border-radius: 10px;
    padding: 10px 14px;
}

.btn.update-btn {
    background: linear-gradient(90deg, #0d6efd, #6610f2);
    border: none;
    color: #fff;
}