<%- include('../header') %>

    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4 justify-contect-center">
        <div class="row g-4">

            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">

                    <h6 class="mb-4">Add Subcategory Form</h6>

                    <form class="form-horizontal" method="post" action="/subcategory/addSubCategory">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Subcategory Info</h4>

                            <!-- Parent Category -->
                            <div class="form-group row mb-3">
                                <label class="col-sm-3 text-right col-form-label">Parent Category</label>
                                <div class="col-sm-9">
                                    <select name="category_id" class="form-control" required>
                                        <option value="">Select Category</option>
                                        <% categories.map(category=> { %>
                                            <option value="<%= category._id %>">
                                                <%= category.category_name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>

                            <!-- Subcategory Name -->
                            <div class="form-group row mb-3">
                                <label class="col-sm-3 text-right col-form-label">Subcategory Name</label>
                                <div class="col-sm-9">
                                    <input type="text" name="subcategory_name" class="form-control"
                                        placeholder="Subcategory Name Here" required>
                                </div>
                            </div>


                            <!-- Form End -->
                            <!-- Submit -->
                            <div class="border-top pt-3">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary px-4">Add Subcategory</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <%- include('../footer') %>